@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  width: 100vw;
  height: 100vh;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "search-container notification-container"
    "hi-container button-container";
  justify-content: center;
  align-items: center;
  background-color: white;
}

.dashboard-icon {
  grid-area: dashboard-icon;
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.home-icon {
  grid-area: home-icon;
}

.profile-icon {
  grid-area: profile-icon;
}

.message-icon {
  grid-area: message-icon;
}

.history-icon {
  grid-area: history-icon;
}

.tasks-icon {
  grid-area: tasks-icon;
}

.communities-icon {
  grid-area: communities-icon;
}

.settings-icon {
  grid-area: settings-icon;
}

.support-icon {
  grid-area: support-icon;
}

.privacy-icon {
  grid-area: privacy-icon;
}

.dashboard {
  grid-area: dashboard;
  font-size: 1.6rem;
}

.home {
  grid-area: home;
}

.profile {
  grid-area: profile;
}

.message {
  grid-area: message;
}

.history {
  grid-area: history;
}

.tasks {
  grid-area: tasks;
}

.communities {
  grid-area: communities;
}

.settings {
  grid-area: settings;
}

.support {
  grid-area: support;
}

.privacy {
  grid-area: privacy;
}

.dashboard-container {
  display: grid;
  grid-area: dashboard-container;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "dashboard-icon dashboard";
}

.top-nav-container {
  grid-area: top-nav-container;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "home-icon home"
    "profile-icon profile"
    "message-icon message"
    "history-icon history"
    "tasks-icon tasks"
    "communities-icon communities";
  justify-content: center;
  align-items: center;
}

.bottom-nav-container {
  grid-area: bottom-nav-container;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "settings-icon settings"
    "support-icon support"
    "privacy-icon privacy";
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "dashboard-container"
    "top-nav-container"
    "bottom-nav-container";
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  color: white;
}

aside svg {
  fill: white;
}

.top-nav-container svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 2rem;
}

.bottom-nav-container svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 2rem;
}

.top-nav-container p {
  font-size: 1.25rem;
}

.bottom-nav-container p {
  font-size: 1.25rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "projects-container announcements-container"
    "projects-container trending-container";
  background-color: #e5e7eb;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.search-icon {
  grid-area: search-icon;
  height: 1.5rem;
  width: 1.5rem;
}

.search-container {
  grid-area: search-container;
  display: grid;
  grid-template-areas: "search-icon search-bar";
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.notification-container {
  grid-area: notification-container;
  display: grid;
  grid-template-areas: "notification-icon profile-small name";
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.hi-container {
  grid-area: hi-container;
  display: grid;
  column-gap: 2rem;
  grid-template-areas:
    "profile-big hi-there"
    "profile-big name-at";
  justify-content: center;
  align-items: center;
  margin-right: 20rem;
}

.button-container {
  grid-area: button-container;
  display: grid;
  grid-template-areas: "new upload share";
  gap: 1rem;
}

.search-bar {
  grid-area: search-bar;
  border-style: none;
  background-color: #e5e7eb;
  border-radius: 1rem;
  height: 2rem;
  width: 40rem;
}

.notification-icon {
  grid-area: notification-icon;
  height: 1.5rem;
  width: 1.5rem;
}

.profile-small {
  grid-area: profile-small;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.name {
  grid-area: name;
  font-weight: bold;
}

.profile-big {
  grid-area: profile-big;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.hi-there {
  grid-area: hi-there;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: -1.25rem;
}

.name-at {
  grid-area: name-at;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-container button {
  border-style: none;
  background-color: #3882f6;
  color: white;
  border-radius: 1rem;
  height: 2.5rem;
  width: 5rem;
}

.new {
  grid-area: new;
}

.upload {
  grid-area: upload;
}

.share {
  grid-area: share;
}

.projects-container {
  grid-area: projects-container;
  display: grid;
  grid-template-areas:
    "your-projects ."
    "super-cool-project less-cool-project"
    "impossible-app easy-peasy-app"
    "ad-blocker money-maker";
  gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.your-projects {
  grid-area: your-projects;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: -3rem;
}

.announcements-container {
  grid-area: announcements-container;
  display: grid;
  grid-template-areas:
    "announcements"
    "announcements-div";
}

.trending-container {
  grid-area: trending-container;
  display: grid;
  grid-template-areas:
    "trending"
    "trending-div";
}

.super-cool-project {
  grid-area: super-cool-project;
}

.less-cool-project {
  grid-area: less-cool-project;
}

.impossible-app {
  grid-area: impossible-app;
}

.easy-peasy-app {
  grid-area: easy-peasy-app;
}

.ad-blocker {
  grid-area: ad-blocker;
}

.money-maker {
  grid-area: money-maker;
}

.projects-container > div {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 3px lightgray;
  background-image: linear-gradient(to right, gold 3%, rgba(0, 0, 0, 0) 3%);
}

.announcements {
  grid-area: announcements;
  font-weight: bold;
  font-size: 1.25rem;
}

.trending {
  grid-area: trending;
  font-size: 1.25rem;
  font-weight: bold;
}

.announcements-div {
  grid-area: announcements-div;
  display: grid;
  grid-template-areas:
    "site-maint"
    "site-maint-lorem"
    "community-share-day"
    "community-share-lorem"
    "updated-privacy-policy"
    "updated-lorem";
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 3px lightgray;
}

.trending-div {
  grid-area: trending-div;
  display: grid;
  grid-template-areas:
    "profile-container1"
    "profile-container2"
    "profile-container3"
    "profile-container4";
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 3px lightgray;
}

.projects-container [class*="-text"] {
  font-weight: bold;
  margin-left: 2rem;
}

.projects-container [class*="-lorem"] {
  color: grey;
  margin-left: 2rem;
}

.site-maint {
  font-weight: bold;
  grid-area: site-maint;
  margin-left: 2rem;
}

.community-share-day {
  font-weight: bold;
  grid-area: community-share-day;
  margin-left: 2rem;
}

.updated-privacy-policy {
  font-weight: bold;
  grid-area: updated-privacy-policy;
  margin-left: 2rem;
}

.announcements-container [class*="-lorem"] {
  color: grey;
  margin-left: 5rem;
  margin-right: 5rem;
}

.site-maint-lorem {
  grid-area: site-maint-lorem;
}

.community-share-lorem {
  grid-area: community-share-lorem;
}

.updated-lorem {
  grid-area: updated-lorem;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
  margin-top: 4.5rem;
  gap: 2rem;
}

.icon-container svg {
  height: 1.5rem;
  width: 1.5rem;
}

.trending-profile-small {
  grid-area: trending-profile-small;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 0;
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-right: -2rem;
}
.profile-container1 {
  grid-area: profile-container1;
  display: grid;
  grid-template-areas:
    "trending-profile-small trending-at1"
    "trending-profile-small project-name1";
}

.trending-at1 {
  grid-area: trending-at1;
  margin-bottom: 0;
}

.project-name1 {
  grid-area: project-name1;
  margin-top: 0;
  color: grey;
}

.profile-container2 {
  grid-area: profile-container2;
  display: grid;
  grid-template-areas:
    "trending-profile-small trending-at2"
    "trending-profile-small project-name2";
}

.trending-at2 {
  grid-area: trending-at2;
  margin-bottom: 0;
}

.project-name2 {
  grid-area: project-name2;
  margin-top: 0;
  color: grey;
}

.profile-container3 {
  grid-area: profile-container3;
  display: grid;
  grid-template-areas:
    "trending-profile-small trending-at3"
    "trending-profile-small project-name3";
}

.trending-at3 {
  grid-area: trending-at3;
  margin-bottom: 0;
}

.project-name3 {
  grid-area: project-name3;
  margin-top: 0;
  color: grey;
}

.profile-container4 {
  grid-area: profile-container4;
  display: grid;
  grid-template-areas:
    "trending-profile-small trending-at4"
    "trending-profile-small project-name4";
}

.trending-at4 {
  grid-area: trending-at4;
  margin-bottom: 0;
}

.project-name4 {
  grid-area: project-name4;
  margin-top: 0;
  color: grey;
}
